name: My CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  hello:
    name: Hello job
    runs-on: ubuntu-latest
    steps:
      - name: My first step
        run: echo "Hello World"

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Install Python package
        run: pip install .[test]
      - name: Run tests
        run: pytest -vv
